<% layout('./layouts/boilerplate') -%>

    <body>
        <div class="row mt-3">
            <div class="col-8 offset-2">
                <h3> Create a new listing</h3>
                <form method="POST" action="/listing" novalidate class="needs-validation" enctype="multipart/form-data">

                    <div class="mb-3 mt-0.5">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" placeholder="Add a catchy title" name="listing[title]" class="form-control"
                            required>
                            <div class="valid-feedback">looks good!</div>
                    </div>
                    <div class="mb-2 mt-0.5">
                        <label for="description" class="form-label">Description</label>
                        <textarea name="listing[description]" class="form-control" required> </textarea>
                        <div class="invalid-feedback">write a short description</div>
                    </div>
                    

                    <div class="mb-3">
                        <label for="image link" class="form-label">upload image/file</label>
                        <input type="file" name="listing[image]" class="form-control" requred>
                    
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="Price" class="form-label">Price</label>
                            <input type="text" placeholder="1200" name="listing[price]" class="form-control" required>
                            <div class="invalid-feedback">price should be valid</div>
                        </div>

                        <div class="mb-3 col-md-8">
                            <label for="Country" class="form-label">Country</label>
                            <input type="text" placeholder="India" name="listing[country]" class="form-control"
                                required>
                                <div class="invalid-feedback">country name should be valid</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="loaction" class="form-label">Location</label>
                        <input type="text" placeholder="Bihar,odisha" name="listing[location]" class="form-control"
                            required>
                            <div class="invalid-feedback">location should be valid</div>
                    </div>
                    <button type="submit" class="btn btn-primary add-btn mt-0">Add</button>


                </form>
            </div>
        </div>
    </body>